<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.industry.mapper.IndustryMapper">

    <select id="getFundmental" resultType="com.example.springboot.industry.vo.resp.FundmentalResp"
            parameterType="com.example.springboot.industry.vo.req.IndustryReq">
        select a.ts_code,b.name,b.industry_name_l1,b.industry_name_l2,b.industry_name_l3 ,
        b.area,a.pct_chg,a.close,a.pre_close,a.high,a.low,a.pe_ttm,a.pb,a.ps_ttm,a.volume_ratio,
        a.turnover_rate,a.amount,b.market,a.total_mv,a.trade_date
        from common_daily.`${tradeDate}` as a left join stock_list.industry_member as b on a.ts_code=b.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            =#{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc
        </where>
    </select>

    <select id="getFinaMain" resultType="com.example.springboot.industry.vo.resp.FinaMainResp">
        select a.ts_code,b.name,b.area,a.pct_chg,b.industry_name_l1 ,b.industry_name_l2
        ,b.industry_name_l3,c.main_business,b.market,a.total_mv,a.pb,a.trade_date
        from common_daily.`${tradeDate}` as a
        left join stock_list.industry_member as b
        on a.ts_code=b.ts_code
        left join finance.fina_main as c
        on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            =#{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc
        </where>
    </select>

    <select id="getTopHold" resultType="com.example.springboot.industry.vo.resp.TopHoldResp">
        select a.ts_code
             , b.name
             , b.area
             , a.pct_chg
             , b.industry_name_l1
             , b.industry_name_l2
             , b.industry_name_l3
             , c.top_holder
             , b.market
             , a.total_mv
             , a.pb
             , a.trade_date
        from common_daily.`20241121` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
                 left join finance.top_hold as c
                           on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            =#{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc
        </where>
    </select>
    
    <select id="getCompanyInfo" resultType="com.example.springboot.industry.vo.resp.CompanyInfoResp">
        select a.pb,
               a.ts_code,
               a.total_mv,
               a.trade_date,
               b.name,
               c.com_name,
               b.market,
               b.list_date,
               b.act_name,
               b.act_ent_type,
               c.exchange,
               c.reg_capital,
               c.setup_date,
               c.province,
               c.city,
               c.website,
               industry_name_l1,
               industry_name_l2,
               industry_name_l3
        from common_daily.`${tradeDate}` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
                 left join stock_list.stock_company as c
                           on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>

    <select id="getFinaMain2" resultType="com.example.springboot.industry.vo.resp.FinaMain2Resp">
        select a.ts_code,
               a.trade_date,
               b.name,
               b.market,
               a.pb,
               a.total_mv,
               c.province,
               c.city,
               c.introduction,
               industry_name_l1,
               industry_name_l2,
               industry_name_l3
        from common_daily.`${tradeDate}` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
                 left join stock_list.stock_company as c
                           on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>

    <select id="getFinaMain3" resultType="com.example.springboot.industry.vo.resp.FinaMain3Resp">
        select a.ts_code,
               a.trade_date,
               b.name,
               b.market,
               a.pb,
               a.total_mv,
               c.province,
               c.city,
               c.main_business ,
               c.business_scope ,
               industry_name_l1,
               industry_name_l2,
               industry_name_l3
        from common_daily.`${tradeDate}` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
                 left join stock_list.stock_company as c
                           on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>


    <select id="getTenDaysMarket" resultType="com.example.springboot.industry.vo.resp.TenDaysMarketResp">
        select t.ts_code,
               sl.name,
               sl.industry_name_l1,
               sl.industry_name_l2,
               sl.industry_name_l3,
               t.conti_up,
               t.pct_chg,
               t.y_pct1,
               t.y_pct2,
               t.y_pct3,
               t.y_pct4,
               t.y_pct5,
               t.y_pct6,
               t.y_pct7,
               t.y_pct8,
               t.y_pct9,
               t.y_pct10,
               t.y_pct11,
               t.y_pct12,
               t.y_pct13,
               t.y_pct14,
               sl.area,
               sl.market,
               t.total_mv,
               t.pb,
               t.trade_date
        from common_daily.`${tradeDate}` t
                 left join stock_list.industry_member sl on t.ts_code = sl.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>

    <!--  五日涨停统计行情  -->
    <select id="selectFiveDaysLimit" resultType="com.example.springboot.analysis.vo.resp.FiveDaysLimitResp">
        select a.ts_code,a.pct_chg,a.close,a.up10_count5,a.up10_count10,a.up10_count15,a.up10_count20,
               a.down10_count5,a.down10_count10,a.down10_count15,a.down10_count20,a.conti_up,a.pb,
               b.market,a.total_mv,a.trade_date,b.name,b.area,b.industry_name_l1,b.industry_name_l2,b.industry_name_l3
        from common_daily.`${tradeDate}` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>

    <!--资金流向-->
    <select id="selectMoneyFlow" resultType="com.example.springboot.analysis.vo.resp.MoneyFlowResp">
        select a.ts_code,b.name,b.area,b.industry_name_l1,b.industry_name_l2,b.industry_name_l3,net_mf_amount,a.pb,
               a.pct_chg,c.buy_elg_amount,c.buy_lg_amount,c.buy_md_amount,c.buy_sm_amount,a.trade_date,
               c.sell_elg_amount,c.sell_lg_amount,c.sell_md_amount,c.sell_sm_amount,a.amount,a.turnover_rate,b.market,a.total_mv
        from common_daily.`20250612` as a
                 left join stock_list.industry_member as b
                           on a.ts_code = b.ts_code
                 left join money_flow.`20250612` as c
                           on b.ts_code = c.ts_code
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            = #{industryCode} order by industry_name_l1, industry_name_l2, industry_name_l3, total_mv desc;
        </where>
    </select>

    <!--  任意两日行情差  -->
    <select id="selectCommon1" resultType="com.example.springboot.analysis.vo.vo.HfqDailyVo">
        select a.ts_code,a.`close`,b.total_mv,b.trade_date,b.pb from hfq_daily.`${startDate}` as a
        left join common_daily.`${startDate}` as b on a.ts_code = b.ts_code ;
    </select>

    <select id="selectCommon2" resultType="com.example.springboot.analysis.vo.vo.HfqDailyVo">
        select a.ts_code,a.`close`,b.total_mv,b.trade_date,b.pb from hfq_daily.`${tradeDate}` as a
        left join common_daily.`${tradeDate}` as b on a.ts_code = b.ts_code ;
    </select>

    <select id="selectIndustryMember" resultType="com.example.springboot.analysis.vo.resp.TwoDaysDifferResp">
        select ts_code,name,area,industry_name_l1,industry_name_l2,industry_name_l3,market
        from stock_list.industry_member
        <where>
            <if test="level == 'L1'">
                index_code_l1
            </if>
            <if test="level == 'L2'">
                index_code_l2
            </if>
            <if test="level == 'L3'">
                index_code_l3
            </if>
            <if test="level == 'area'">
                area
            </if>
            =#{industryCode}
        </where>
    </select>
</mapper>