<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springboot.search.mapper.SearchMapper">
    <select id="selectCount" resultType="Integer">
        select count(*)
        from `000001`
    </select>

    <select id="queryStock" resultType="com.example.springboot.search.vo.resp.QueryStockResp">
        select ts_code, name
        from stock_list.`industry_member`
        where symbol = #{queryName}
           or name = #{queryName}
    </select>
</mapper>